{% extends 'signbase.html' %}
{% block content %}

{% if username %}
<div>
  <h3>{{  username }}  Welcome!</h3>
</div>
{% endif %}

{% if user_id %}
<div>
  <h3> your ups id is :{{  user_id }}</h3>
</div>
{% endif %}


<div>
      {% for testlist in test %} 
   <p>  <b>Package </b> {% if judge %}<a href="{% url 'Redirectpage' package_id=testlist.package_id %}">Redirect</a> {% endif %}</p>
   <table  cellpadding="5">
     <tr>
      <td>  tracking_number: </td>
      <td>  {{testlist.package_id }}    </td>
       <td></td> 
     </tr>
     <tr>
      <td> description: </td> 
       {% for deslist in testlist.detail.items %}
         <td>{{deslist.description}} </td>
         <td> amount: {{deslist.amount}}</td>
         {% endfor %}
     </tr> 
     <tr>
       <td> destination: </td>
       <td> x = {{testlist.detail.x}} </td>
       <td>  y = {{testlist.detail.y}}  </td>
     </tr>
     <tr>
       <td> status: </td> 
       <td></td>  
       <td></td>
     </tr>
       {% for status in testlist.status %}
     <tr>
       <td></td>
       <td > {{ status.status   }} </td>
     {%if status.timestamp is not 0%}
     {% load my_tag %}
      <td > {{ status.timestamp|get_time}} </td>
     {%endif%}
     </tr> 
      {% endfor %} 
      </table>
      {% endfor %}
</div>
{% endblock %}

<!-- vim: set ts=4 sw=4 et: -->
