{% extends 'signbase.html' %}
{% block content %}
{% if user.is_authenticated %}
<div>
  <h3>{{  username }}  Welcome!</h3>
</div>
<div>
  {% for testlist in test %} 
   <p>  <b>Package</b> <a href="{% url 'Redirectpage'%}">Redirect</a> </p> 
       <p> description : 
       {% for deslist in testlist.detail.items %}
         item : {{deslist.description}} amount : {{deslist.amount}},
        
         {% endfor %} </p>
   <p>  tracking_number : {{testlist.package_id }}     </p>
   <p>  destination : x = {{testlist.detail.x}} y = {{testlist.detail.y}} </p>
   <p> status :
       {% for status in testlist.status %}
     {{status.status   }}  {{status.timestamp}} , 
      {% endfor %} </p>
  {% endfor %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
</div>

{% else %}
<div>
  <button class = "btn btn-default"><a href = "{% url 'login' %}">log in</a></button>
</div>
{% endif %}
{% endblock %}
