{% extends 'signbase.html' %}

{% block content %}
<div>
      {% for testlist in test %} 
   <p>  Package </a> </p>
   <p>  tracking_number : {{testlist.package_id }}     </p>
  <p> description : 
       {% for deslist in testlist.detail.items %}
         {{deslist.description}} amount : {{deslist.amount}}
         {% endfor %} </p>
   <p>  destination : x = {{testlist.detail.x}} y = {{testlist.detail.y}} </p>
   <p> status :
       {% for status in testlist.status %}
     <p> &emsp;&emsp;&emsp;{{ status.status   }} &emsp;&emsp;
     {%if status.timestamp is not 0%}
      <script>  
        function getLocalTime(nS) {  
            return new Date(parseInt(nS) * 1000).Format("yyyy-MM-dd hh:mm:ss");  
        }  
        Date.prototype.Format = function(fmt) { 
            var o = {  
                "M+" : this.getMonth() + 1,   
                "d+" : this.getDate(),  
                "h+" : this.getHours(),   
                "m+" : this.getMinutes(), 
                "s+" : this.getSeconds(),   
                "q+" : Math.floor((this.getMonth() + 3) / 3),   
                "S" : this.getMilliseconds()  
            };  
            if (/(y+)/.test(fmt))  
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));  
            for (var k in o)  
            if (new RegExp("(" + k + ")").test(fmt))  
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));  
            return fmt;  
        }
        
        time = getLocalTime({{status.timestamp}})
        document.write(time)
     </script>  
     {%endif%}
     </p>  
      {% endfor %} </p>
      {% endfor %}
</div>
{% endblock %}